.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

bower_components
node_modules

apps/shared/fonts/*
!apps/shared/fonts/index.html
apps/shared/images/*
!apps/shared/images/index.html
apps/shared/scripts/*
!apps/shared/scripts/index.html
apps/shared/styles/*
!apps/shared/styles/index.html