<div style="text-align:center;margin-top:200px">
    <h1 style="margin-bottom:50px">Angular CodeIgniter Seed by Phat Pham</h1>
    <iframe src="https://ghbtns.com/github-btn.html?user=phatpham9&repo=angular-codeigniter-seed&type=star&count=true&size=large" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=phatpham9&repo=angular-codeigniter-seed&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
</div>